## Edit the following, but not first column. Carefull with spaces.

mailto user@example.com

owncloud host username password

ssmtp smtp.gmail.com:587 username password


## Use these in a future version of photOS?
#hostname raspberrypi
#userhome /home/pi
#pathtophotos ownCloud
