## Edit the following, but not first column.

mailto user@example.com
hostname raspberrypi
userhome /home/pi
pathtophotos ownCloud

owncloud host username password
ssmtp smtp.gmail.com:587 username password
